<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for循环普通数组</title>
    <!-- 1、导入Vue包 -->
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>

    <div id="app">
        <!-- <p>{{ list[0] }}</p>
        <p>{{ list[1] }}</p>
        <p>{{ list[2] }}</p>
        <p>{{ list[3] }}</p>
        <p>{{ list[4] }}</p> -->
        <!-- 基本循环 -->
        <p v-for="item in list">{{item}}</p>
        <!-- 循环 item index -->
        <p v-for="(item,i) in list">索引值: {{i}} ---- 每一项: {{item}}</p>
    </div>
    <script>
        // 创建 Vue 实例，得到 ViewModel
        var vm = new Vue({
            el: "#app",
            data: {
                list: [1,2,3,4,5,6]
            },
            methods: {

            }

        });

        // vm.list.forEach((item,index)=>{
        //     console.log(item,index);
        // })

    </script>
</body>
</html>