<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for循环对象</title>
    <!-- 1、导入Vue包 -->
    <script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
    
    <div id="app">
        <!-- 注意：在遍历对象身上的键值对的时候，除了有 val key 在第三个位置还有一个索引 -->
        <p v-for="(val, key, i) in user"> {{ key }} ------- {{ val }} ----{{ i }} </p>
        <!-- 循环对象的索引实际项目中使用的不多，基本不使用 -->
        <p v-for="(val, key) in user"> {{ key }} ------- {{ val }} </p>
    </div>

    <script>
        // 创建 Vue 实例 获取 ViewModel
        var vm = new Vue({
            el: "#app",
            data: {
                user: {
                    id: 1,
                    name: '托尼',
                    gender: '男'
                }
            },
            methods: {

            }
        });
    </script>
</body>
</html>