<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 1、导入Vue包 -->
    <script src="./lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
    <style>
        .v-enter,
        .v-leave-to{
            opacity: 0;
            transform: translateY(80px);
        }
        .v-enter-active,
        .v-leave-active{
            transition: all 0.8s ease;
        }

        li:hover{
            background-color:hotpink;
            transition: all 0.8s ease;
        }

        /* 下面的 .v-move 和 .v-leave-active 配合使用，能够实现列表后续的元素，渐渐地飘上来的效果 */
        .v-move{
            transition: all 0.8s ease;
        }
        .v-leave-active{
            position:absolute;
        }
    </style>
</head>

<body>
    <!-- 2、创建一个要控制的区域 -->
    <div id="app">
        
            <cmt-box @func="loadComments"></cmt-box>
        
            <transition-group class="list-group" appear tag="ul">
                <li class="list-group-item" v-for="item in list" :key="item.id">
                    <span class="badge">评论人{{ item.user }}</span>
                    {{ item.content }}
                </li>
            </transition-group>

    </div>
    <template id="tmpl">
        <div>
            
            <div class="form-group">
                <label>评论人：</label>
                <input type="text" class="form-control" v-model="user">
            </div>

            <div class="form-group">
                <label>评论内容：</label>
                <textarea class="form-control" v-model="content"></textarea>
            </div>

            <div class="form-group">
                <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
            </div>

        </div>
    </template>
    <script>

        var comentBox = {
            data() {
                return {
                    user: '',
                    content: '',
                }
            },
            template: "#tmpl",
            methods: { // 发表评论的方法
                postComment(){
                    console.log('发表评论')
                    // 分析：发表评论的业务逻辑
                    // 1、评论数据存储到哪里去？？？存放到localStorage 中 localstorage.setItem('args'..)
                    // 2、先组织处一个最新的评论数据对象
                    // 3、想办法，把 第二步中，得到的评论对象，保存到 localstorage 中
                    // 3.1 localstorage 只支持存放字符串数据，要先调用 JSON.stringify()
                    // 3.2 在保存最新的评论数据之前，要先从 localstorage 获取到之前的评论数据（数组字符串）转换为一个 数组对象 JSON.parse(string)，然后把最新的评论，push 到这个数组
                    // 3.3 如果获取到的 localstorage 中的评论字符串，为空不存在，则可以返回一个'[]',让JSON.parse 去转换
                    // 3.4 把最新的 评论列表数组，再次调用 JSON.stringify 转为 数组字符串，然后调用 localstorage.setItem(数组字符串)

                    var comment = { id: Date.now(), user: this.user, content: this.content }
                    // 从 localstorage 中获取所有的评论
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    list.push(comment)
                    // 重新保存最新的 评论数据
                    localStorage.setItem('cmts', JSON.stringify(list))

                    this.user = this.content = ''

                    this.$emit('func')
                }
            },

        }

    

        // 创建 Vue 实例，获得 ViewModel
        var vm = new Vue({
            el: "#app",
            data: {
                list:[
                    { id: Date.now(), user: '李白', content: '天生我材必有用' },
                    { id: Date.now(), user: '江小白', content: '劝君更尽一杯酒' },
                    { id: Date.now(), user: '小马', content: '我醒马，风吹草低见牛羊的马' },
                ]
            },
            methods: {
                loadComments(){ // 从本地 localstorage 中加载数据
                    var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                    this.list = list
                }
            },
            components: {
                'cmt-box': comentBox
            },
            beforeCreate() { // 注意：这里不能调用 loadComments 方法，因为在执行这个钩子函数的时候，data 和 methods 都还没有初始完成
            },

            created() {
                this.loadComments()
            },

        })
    </script>
</body>

</html>