<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 1、导入Vue包 -->
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <!-- 2、创建一个要控制的区域 -->
    <div id="app">
        <!-- 分析： -->
        <!-- 1、我们要监听到 文本框数据的改变，这样才能知道什么时候去拼接出一个 fullname -->
        <!-- 2、如何监听到文本框的数据改变呢 -->
        <input type="text" v-model="firstname" > + 
        <input type="text" v-model="lastname" > =
        <input type="text" v-model="fullname">

    </div>
    <script>
        // 创建 Vue 实例，获得 ViewModel
        var vm = new Vue({
            el: "#app",
            data: {
                firstname: '',
                lastname: '',
                fullname: ''
            },
            methods: {},
            watch: { // 使用这个属性，可以监视 data 中指定数据的变化，然后出发这个 watch 中对应的 function 处理函数
                'firstname': function(newVal, oldVal){
                    console.log('监视到了 firstname 的变化' + newVal + oldVal)
                    this.fullname = newVal + '-' + this.lastname
                },
                'lastname': function(newVal){
                    this.fullname = this.firstname + '-' + newVal
                }
                
            },
        })
    </script>
</body>

</html>