<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 1、导入Vue包 -->
    <script src="./lib/vue-2.4.0.js"></script>
</head>

<body>
    <!-- 2、创建一个要控制的区域 -->
    <div id="app">
        <!-- 分析： -->
        <!-- 1、我们要监听到 文本框数据的改变，这样才能知道什么时候去拼接出一个 fullname -->
        <!-- 2、如何监听到文本框的数据改变呢 -->
        <input type="text" v-model="firstname" > + 
        <input type="text" v-model="lastname" > =
        <input type="text" v-model="fullname">

        <p>{{ fullname }}</p>
        <p>{{ fullname }}</p>
    </div>
    <script>
        // 创建 Vue 实例，获得 ViewModel
        var vm = new Vue({
            el: "#app",
            data: {
                firstname: '',
                lastname: ''
            },
            methods: {},
            computed: { // 在 computed 中，可以定义一些属性，这些属性叫做【计算属性】，计算属性的本质，就是一个方法，只不过，我们在使用这些计算属性的时候，是把他们的名称，直接当做属性来使用，并不会把计算属性，当做方法去调用

            // 注意1：计算属性在引用的时候，一定不要加() 去调用，直接把它当做普通属性去使用就好了
            // 注意2：只要计算属性，这个 function 内容，所用到的任何 data 中的数据发生了变化，就会立即重新计算这个计算属性的值
            // 注意3：计算属性的求值结果，会被缓存起来，方便下次直接使用；如果计算属性方法中，来的任何数据，都没有发生过变化，则 不会重新对计算属性求值
                'fullname': function(){
                    console.log('ok')
                    return this.firstname + '-' + this.lastname
                }
            },
        })
    </script>
</body>

</html>